
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif !important;
  list-style-type: none !important;

}
h1 {
  font-weight: 900 !important;
  text-transform: uppercase !important;
  
}
.link {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    margin-right: 5px;
}
